{% extends 'analytics/account_base.html' %}

{% block inner_block %}
  <p> testing inner block </p>
{% endblock %}

{% block match_content %}
  {% for m in match_summary_list %}
  <h3> MATCH </h3>
    {% for t,t_d in m.items %}
      <h4> Team 1 </h4>
      {% for p,pd in t_d.items %}
        <h6> {{ pd.name }} <h6>
        <p> CS: {{ pd.cs }} </p>
        <p> K/D/A: {{ pd.kills }}/{{ pd.deaths }}/{{ pd.assists }} </p>
        <p> Champion Damage: {{ pd.damage }} </p>
        <p> Wards Placed/Wards Killed/Vision Wards Bought: {{ pd.wards_placed }}/{{ pd.wards_killed }}/{{ pd.vision_wards }} </p> 

      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endblock %}
