{% extends 'analytics/account_base.html' %}

{% block inner_block %}
  <p> testing inner block </p>
{% endblock %}

{% block match_content %}
  <h3> MATCH </h3>
  {% for team in m %}
    <h3>Team: </h3>
    {% for p in team %}
      <h4> {{ p.CHAMP }} </h4>
      <p> CS:{{ p.CS }} K/D/A:{{ p.K }}/{{ p.D }}/{{p.A}} </p>
      <p> Objective Damage: {{ p.O_DMG }} Champion Damage: {{ p.C_DMG }} </p>
      <p> Wards Placed/Killed: {{ p.W_PLACED }}/{{ p.W_KILLED }} </p>
    {% endfor %}
  {% endfor %}
{% endblock %}
